    <div class="card mx-auto" style="width:256px">


    <% exist = [true, false].sample %>
    
    <meta name="exist" content="<%=exist%>" />


    <img class="card-img-top" src="<%=image_path("generated/#{rand(1..9)}.jpg")%>" id="image" alt="Card image">
    <!--div class="card-body">
        <h4 class="card-title">Kpop name</h4>
        <p class="card-text">Desc</p>
    </div-->
    
    </div>
    