
<div class="container text-center">
    
    <br/>
    <h1>This K-pop idol does not exist</h1>
    <br/>
    <div class="dynamic">
        <%= render "image_card" %>
    </div>
    <br/>
    <!--button type="button" class="btn btn-success" id="true_button">True</!--button>
    <button type="button" class="btn btn-danger" id="false_button">False</button>
    
    <h3-- id="message"></h3-->
    <button type="button" class="btn btn-dark" id="try_again_button">New Image</button>

</div>