
<div class="container-fluid text-center">
    
    <h1>This K-pop idol does not exist</h1>

    <img class="rounded mx-auto d-block" src="<%=image_path("generated/#{rand(1..9)}.jpg")%>"> 
    
</div>